### Data preprocessing and balancing

1.Data Preprocessing

2. Imputation of Missing Value

3.- Feature Engineeri

4. - Addressing Imbalanced Data and Resampling Techniques

In [10]:
import pandas as pd

In [11]:
parking_data=pd.read_csv("parking_dataset.csv")

In [12]:
parking_data.head()

    Timestamp  ParkingSpaceID OccupancyStatus VehicleType
0  01-01-2023            80.0           Empty  Motorcycle
1  02-01-2023            85.0           Empty         Car
2  03-01-2023            92.0        Reserved  Motorcycle
3  04-01-2023            72.0        Occupied         Car
4  05-01-2023            29.0        Occupied     Bicycle

In [13]:
parking_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Timestamp        365 non-null    object
 1   ParkingSpaceID   364 non-null    float64
 2   OccupancyStatus  364 non-null    object
 3   VehicleType      363 non-null    object
dtypes: float64(1), object(3)
memory usage: 11.5+ KB

In [14]:
missing_values = parking_data.isnull().sum()
print("Missing Values:")
print(missing_values)

Missing Values:
Timestamp          0
ParkingSpaceID     1
OccupancyStatus    1
VehicleType        2
dtype: int64

In [15]:
# Impute missing values in 'ParkingSpaceID' with the mean
parking_data['ParkingSpaceID'].fillna(parking_data['ParkingSpaceID'].mean(), inplace=True)

# Impute missing values in 'OccupancyStatus' and 'VehicleType' with the most frequent value
parking_data['OccupancyStatus'].fillna(parking_data['OccupancyStatus'].mode()[0], inplace=True)
parking_data['VehicleType'].fillna(parking_data['VehicleType'].mode()[0], inplace=True)

In [18]:
parking_data['Timestamp'] = pd.to_datetime(parking_data['Timestamp'], format='%d-%m-%Y')
parking_data['Date'] = parking_data['Timestamp'].dt.date
parking_data['Time'] = parking_data['Timestamp'].dt.time

In [19]:
parking_data['DayOfWeek'] = parking_data['Timestamp'].dt.day_name()

In [21]:
print("OccupancyStatus Distribution:")
print(parking_data['OccupancyStatus'].value_counts())

OccupancyStatus Distribution:
OccupancyStatus
Occupied    134
Empty       122
Reserved    109
Name: count, dtype: int64